.pageContainer {
    padding: 1rem;
}

.pageTitle {
    margin-bottom: 1rem;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.gridItem {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 0.1);
}

.link {
    text-decoration: none;
    color: inherit;
    display: block;
    height: 100%;
}

.image {
    width: 100%;
    padding-top: 75%; /* ratio 4:3 */
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.categoryName {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    text-align: center;
    padding: 0.5rem 0;
    font-weight: bold;
    font-size: 1.1rem;
    position: absolute;
    bottom: 0;
    left: 0;
}

.noImage {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ddd;
    height: 150px;
    border-radius: 8px;
}

@media (max-width: 900px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .grid {
        grid-template-columns: 1fr;
    }
}
