.productDetails {
    background-color: #f9f9f9;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
}

.reviewList,
.specList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.reviewItem {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ddd;
}
