.categoryCard {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: hidden;
    font-family: var(--font-primary);
    height: 100%;
    width: 100%;

}
.categoryImage {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
}

.categoryContent {
    position: relative;
    padding: 0.5rem;
    color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.3rem
}

.categoryTitle {
    margin: 0 0 0.3rem 1rem;
}

.categoryCard:first-child {
    align-items: center;
}

.categoryCard:first-child .categoryContent {
    justify-content: center;
    height: 100%;
}

.categoryCard:first-child .categoryTitle {
    font-size: 3rem;
}

@media screen and (max-width: 768px) {
    .categoryContent {
        width: auto;
    }

    .categoryImage {
        object-fit: cover;
    }

    .categoryCard:first-child .categoryImage {
        object-position: right top;
    }
    .categoryCard:first-child .categoryTitle {
        font-size: 2rem;
    }
}
