.row {
    height: 100vh;
}

.homePageTitle, .topSalesTitle {
    text-align: center;
}

.carousel, .categoryGrid {
    flex: 1 1 50%;
    min-width: 400px;
}

.categoryGrid {
    display: grid;
    grid-template-areas:
        "card1 card1 card2 card3"
        "card1 card1 card4 card5";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 0.5rem;
    width: 100%;
    min-height: 80vh;
}
