.homePageTitle, .topSalesTitle {
    text-align: center;
}

.carousel, .categoryGrid {
    flex: 1 1 50%;
    min-width: 400px;
}

.categoryGrid {
    padding-top: 2rem;
    display: grid;
    grid-template-areas:
        "card1 card1 card2 card3"
        "card1 card1 card4 card5";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 0.5rem;
    width: 100%;
    min-height: 80vh;
}

@media (max-width: 768px) {
    .categoryGrid {
        grid-template-areas:
      "card1"
      "card2"
      "card3"
      "card4"
      "card5";
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        height: auto;
    }
}
